.site-header {
    transform-origin: top center;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 70%;
}

.logo {
    font-size: 2.3rem;
    text-decoration: none;
    color: #000;
}

.nav-link {
    font-size: 175%;
    margin-left: 1rem;
    text-decoration: none !important;
}

.main-link {
    color: #000000 !important;
}

.other-link {
    color: #000000 !important;
}

main {
    margin-top: 15px;
}
